.photoGrid{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.figure{
    flex-basis: calc(33.33% - 4rem);
    border: 4px;
}
.addIcon{
    margin: 20px auto;
    display: table;
    padding: 40px;
}